*{
  font-family: "Star Wars", sans-serif;
}

.page {
  display: flex;
  }

  
  .table-of-contents {
  width: 25%;
  max-width: 50vw;
  height: 100vh;
  display: inline;
  font-size:large;
  line-height: 90%;
  font-weight: bold;
  flex-wrap: wrap;
  box-shadow: inset 0 0 10px #ffc909;

  }
  
.flex{
    display: flex;
    text-decoration: none;
    margin-left: 2vw;
    margin-top: 2vw;
    cursor: pointer;
    color: #ffc909;
    margin-top: 20%;
}

a.active{
text-decoration: underline;
  color: #36F476;
}

a:hover{
  text-decoration: underline;
    color: #36F476;
  }

  