.page {
    display: flex;
  }

  
  .table-of-contents {
    width: 25%;
    background-color: greenyellow;
    height: 100vh;
    display: inline;
  }
  
.flex{
    display: flex;
    margin-left: 2vw;
    margin-top: 2vw;
    cursor: pointer;


}

  