/* .main {
    width: 75%;
    background-color: blue;
    color: white;
  } */

body {
  background: rgb(20,20,20);
  overflow: hidden;
  font-family: 'Roboto';
  margin: 0 0 25% 0;
  position: relative;
}


.wrapper {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  perspective: 150px;
}

.scroll-text {
  color: #ffc909;
  font-size:xx-large;
  line-height: 50%;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 500s linear forwards;
  margin-left: 25%;
}
h1,h2 {
  text-align: center;
}

@keyframes scroll {
	from { top: 0; transform: translateZ(0) rotateX(20deg); }
	to { top: -7500px; transform: translateZ(-2500px) rotateX(21deg); }
}