.table-of-contents {
    width: 25%;
    background-color: rgb(20, 20, 20);
    height: 100vh;
    box-shadow: inset;
  }

.movieposter{
margin-left: 29vw;
}

.movieopeningcrawl{
  width: 60%;
  margin-left: 17vw;
}

.selectedbtn{
  margin-left: 34vw;

}